/* Milestone 1:
Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco) assegnando due classi CSS diverse
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto. */

/* All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

img {
  width: 50px;
  height: 50px;
}

i {
  color: #b1b1b1;
}

/* background */
.background {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: relative;
}

.background > .green {
  background-color: #039789;
  height: 100px;
}

.background > .grey {
  background-color: #d8ddd5;
  height: calc(100% - 100px);
}

/* content */
.container-lg {
  padding: 0;
  height: 95%;
  background: white;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 35%;
  height: 100%;
  border-right: 1px solid #b2b1b8;
}

.sidebar > header {
  width: 100%;
}

.card,
.alert {
  border-radius: 0%;
  line-height: 13px;
  border: none;
}

header > .card {
  background-color: #ebebea;
  height: 60px;
}

header > .card img.icon {
  color: #b1b1b1;
  height: 20px;
  width: auto;
}

.sidebar > header > .alert {
  height: 65px;
  background-color: #8fdbfc;
  font-size: 12px;
}

.sidebar > header > .search-bar {
  background: #edeeee;
}

.sidebar > header > .search-bar > * {
  border: none;
  background: white;
}

.sidebar > header > .alert i {
  color: #8fdbfc;
  background-color: white;
  font-size: 15px;
}

.sidebar > .ul-container {
  height: calc(100% - 168.75px);
  overflow-y: scroll;
}

.sidebar ul .card {
  border-bottom: 1px solid #edeeee;
}

/* MAIN */
main {
  width: 65%;
  height: 100%;
  position: relative;
  background-image: url(../img/mine.jpg);
}

main > header {
  height: 60px;
  background-color: #ebebea;
}

main > .chat {
  width: 100%;
  height: calc(100% - 110px);
  overflow-y: scroll;
  overflow-x: hidden;
}

main > .chat > img {
  height: 100%;
  width: auto;
}

main .write-bar {
  width: 100%;
  height: 50px;
  background-color: #f2efea;
}

main .write-bar > div > input {
  border: none;
}

main .write-bar > div > span {
  border: none;
  background: transparent;
}
