* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* Utilities */
.active {
  background: #e9ebeb;
}

img.icon {
  color: #b1b1b1;
  width: auto;
  height: 20px;
}

/* All */
img {
  width: 50px;
  height: 50px;
}

i {
  color: #b1b1b1;
}

/* background */
.background {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: relative;
}

.background > .green {
  background-color: #039789;
  height: 100px;
}

.background > .grey {
  background-color: #d8ddd5;
  height: calc(100% - 100px);
}

/* content */
.container-lg {
  padding: 0;
  max-width: 1100px;
  height: 90%;
  background: white;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 35%;
  height: 100%;
  border-right: 1px solid #b2b1b8;
}

.sidebar > header {
  width: 100%;
}

.card,
.alert {
  border-radius: 0%;
  line-height: 13px;
  border: none;
}

header > .card,
header.card {
  background-color: #ebebea;
  height: 60px;
}

.card > div:first-of-type {
  flex-grow: 1;
}

.sidebar .card > div:nth-of-type(2) {
  width: fit-content;
}

.sidebar > header > .alert {
  height: 65px;
  background-color: #8fdbfc;
  font-size: 12px;
}

.sidebar > header > .alert > div:first-of-type {
  width: fit-content;
}

.sidebar > header > .alert i {
  color: #8fdbfc;
  background-color: white;
  font-size: 15px;
}

.sidebar > header > .alert > div:nth-of-type(2) {
  flex-grow: 1;
}

.sidebar > header > .search-bar {
  background: #edeeee;
  border-top: 1px solid #dad9dd;
  border-bottom: 1px solid #dad9dd;
}

.sidebar > header > .search-bar > * {
  border: none;
  background: white;
}

.sidebar > .ul-container {
  height: calc(100% - 168.75px);
  overflow-y: scroll;
}

.sidebar ul .card {
  border-bottom: 1px solid #edeeee;
}

/* MAIN (home-screen) */
main.home-screen > img {
  width: auto;
  height: 50%;
}

main.home-screen > .container-sm > p:first-of-type {
  color: #626262;
  line-height: 33px;
}

main.home-screen > .container-sm > p:nth-of-type(2),
main.home-screen > .container-sm > p:nth-of-type(3) {
  color: #898889;
}

main.home-screen > .container-sm > p:nth-of-type(3) > a {
  color: #0aa545;
}

/* MAIN (if active contacs) */
main {
  width: 65%;
  height: 100%;
  position: relative;
}

main > header.card > div:nth-of-type(2) {
  width: fit-content;
}

main > .chat-container {
  width: 100%;
  height: calc(100% - 110px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
  overflow-x: hidden;
}

main > .chat-container > img {
  height: 100%;
  width: auto;
}

.message.received,
.message.sent {
  width: fit-content;
  min-height: fit-content;
  position: relative;
}

.message.received > i,
.message.sent > i {
  font-size: 20px;
  position: absolute;
}

.message.received {
  background: white;
  border-radius: 0 7.5px 7.5px;
}

.message.received > i {
  color: white;
  left: -5.5px;
  top: -7px;
}

.message.sent {
  align-self: flex-end;
  background: #d4f9bb;
  border-radius: 7.5px 0 7.5px 7.5px;
}

.message.sent > i {
  color: #d4f9bb;
  right: -5.5px;
  top: -7px;
}

.message > .small {
  color: #b1b1b1;
}

main .write-bar {
  width: 100%;
  height: 50px;
  background-color: #f2efea;
}

main .write-bar > div > input {
  border: none;
}

main .write-bar > div a {
  border: none;
  background: transparent;
}

main.home-screen > .img-container {
  height: 55%;
  flex: 1;
}

